# Local keystore configuration (Do not commit real passwords)
storeFile=C:\\Users\\hkmez\\OneDrive\\Documents\\key\\fina_app.jks
storePassword=TU_PASSWORD_AQUI
keyAlias=upload
keyPassword=TU_PASSWORD_AQUI
